{% block content %}
<div class="row">
	<div id="slider" class="range-slider radius" data-slider data-options="step:1;start:10; end:40;">
	<span class="range-slider-handle" role="slider" tabindex="0"></span>
		<span class="range-slider-active-segment"></span>
		<input id="slider" type="hidden">
	</div>
	<div class="row text-center">
	<img id="image" src="http://placehold.it/1000x400&text=Slide Image" alt="slide image">
	</div>
</div>

{% endblock %}
